$gray1 : #333;
$gray4 : #BDBDBD;
$gray6 : #F2F2F2;
$light_blue : #2D9CDB;
$bg_footer : #100E1D;

$heebo_font : Heebo;
$poppins_font : Poppins;

%logo {
    font-size: 3.6rem;
    a {
        font-family: $heebo_font !important;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins_font;
}
html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}



header {
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: .2);
    width: 100%;

    .header_container {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin: auto;
    }

    .logo {
        @extend %logo;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                font-size: 1.7rem;
                font-weight: 500;
                margin-left: 6rem;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .hamburger_btn {
        width: 25px;
        height: 25px;
        border: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        display: none;
        z-index: 100;

        span {
            height: 2px;
            width: 1em;
            position: relative;
            background-image: linear-gradient(currentColor, currentColor);
            background-repeat: no-repeat;
            font-size: 32px;
            color: #000;

            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: inherit;
                border-radius: inherit;
            }

            &::before {
                transform: translateY(-.8rem) rotate(0deg);
                transition: transform .2s ease-in;
            }
            &::after {
                transform: translateY(.8rem) rotate(0deg);
                transition: transform .2s ease-in;
            }
        }

        &.active {
            span {
                background-size: 0%;
                background-image: linear-gradient(white, white);

                &::before {
                    transform: translateY(0rem) rotate(45deg);
                }
                &::after {
                    transform: translateY(0rem) rotate(-45deg);
                }
            }
        }
    }

    @media screen and (max-width : 730px) {

        .header_container {
            height: 70px;
            width: 92%;
        }
        .logo {
            font-size: 2.3rem;
        }

        .hamburger_btn {
            display: flex;
        }
        nav {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: $gray1;
            color: #FFF;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
            transition: transform .2s cubic-bezier(0,.8,0,1.48), opacity .4s ease-out;

            ul {
                flex-direction: column;
                height: 60%;
               
                li {
                    margin-left: 0;
                    text-transform: uppercase;
                    font-weight: 400;
                }
            }

            &.active {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

footer {
    background-color: $bg_footer;
    color: $gray6;
    font-size: 1.8rem;

    .footer_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
    }

    .footer_container .links_contacts {
        flex: .8;
        li {
            margin-bottom: .5rem;
        }
    }

    .footer_container .icons_contacts {
        flex: .8;
        .logo {
            margin-bottom: .5rem;
            @extend %logo;
        }

        .socials_icons {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: .5rem;
            }
        }
    }

    .footer_container .form_contacts {
        flex: 1;
        label {
            font-size: 1.6rem;
        }

        .input_field {
            height: 50px;
            // width: 300px;
            margin-top: .5rem;
            position: relative;

            input {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                background-color: #FFF;
                border: none;
                padding-left: 20px;
                font-family: $poppins_font;
                color : $gray1;

                &::placeholder {
                    color: $gray4;
                }
            }

            button {
                position: absolute;
                color: $gray6;
                background-color: $light_blue;
                border: none;
                padding: 1rem 1.8rem;
                border-radius: 1rem;
                right: .3rem;
                top: .3rem;
                bottom: .3rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .attribution {
        border: 2px solid red;
    }

    @media screen and (max-width : 730px) {
        
        .footer_container {
            width: 90%;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
