* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

header {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

header .header_container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
}

header .logo {
  font-size: 3.6rem;
  font-family: Heebo;
}

header nav {
  font-family: Poppins;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 6rem;
}

header nav ul li:first-child {
  margin-left: 0;
}

header .hamburger_btn {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  display: none;
  z-index: 100;
}

header .hamburger_btn span {
  height: 2px;
  width: 1em;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  font-size: 32px;
  color: #000;
}

header .hamburger_btn span::before, header .hamburger_btn span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  border-radius: inherit;
}

header .hamburger_btn span::before {
  -webkit-transform: translateY(-0.8rem) rotate(0deg);
          transform: translateY(-0.8rem) rotate(0deg);
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

header .hamburger_btn span::after {
  -webkit-transform: translateY(0.8rem) rotate(0deg);
          transform: translateY(0.8rem) rotate(0deg);
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

header .hamburger_btn.active span {
  background-size: 0%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
}

header .hamburger_btn.active span::before {
  -webkit-transform: translateY(0rem) rotate(45deg);
          transform: translateY(0rem) rotate(45deg);
}

header .hamburger_btn.active span::after {
  -webkit-transform: translateY(0rem) rotate(-45deg);
          transform: translateY(0rem) rotate(-45deg);
}

@media screen and (max-width: 730px) {
  header .header_container {
    height: 70px;
  }
  header .logo {
    font-size: 2.3rem;
  }
  header .hamburger_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.2s cubic-bezier(0, 0.8, 0, 1.48);
    transition: opacity 0.4s ease-out, -webkit-transform 0.2s cubic-bezier(0, 0.8, 0, 1.48);
    transition: transform 0.2s cubic-bezier(0, 0.8, 0, 1.48), opacity 0.4s ease-out;
    transition: transform 0.2s cubic-bezier(0, 0.8, 0, 1.48), opacity 0.4s ease-out, -webkit-transform 0.2s cubic-bezier(0, 0.8, 0, 1.48);
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60%;
  }
  header nav ul li {
    margin-left: 0;
    text-transform: uppercase;
    font-weight: 400;
  }
  header nav.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */